<footer>
    <ul>
        <li>
         <a href="https://www.github.com/{{ site.github_username }}" title="GitHub">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fa fa-github" aria-hidden="true"></i>
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
              <span class="sr-only">GitHub</span>
            </a>
        </li>
        <li><a href="https://www.twitter.com/{{ site.twitter_username }}" title="Twitter">
                <span class="fa-stack fa-lg" aria-hidden="true">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                <span class="sr-only">Twitter</span>
        </a></li>
        <li><a href="https://www.linkedin.com/in/ianpaul" title="LinkedIn">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
            <span class="sr-only">LinkedIn</span></a></li>
        <li><a href="https://ianpaul.net/feed.xml" title="RSS"><span class="fa-stack fa-lg" aria-hidden="true">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
          </span>
          <span class="sr-only">RSS</span></a></li>
    </ul>
    <p>© Ian Paul 2023 • IanPaul.net</p>
</footer>
