<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ "/css/styles.css" | relative_url }}">
<link rel="shortcut icon" type="image/x-icon" href="ianpaul.net/favicon.png">
<title>{{ site.title }}</title>
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+3:400,700,400italic,700italic" />
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Source+Sans+3:wght@200&display=swap">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
</head>